/.vs/NBCZ/v15/Server/sqlite3/db.lock
/NBCZ.Api/bin
/NBCZ.Api/obj
/NBCZ.BLL/obj
/NBCZ.BLL/bin
/NBCZ.Common/bin
/NBCZ.Common/obj
/NBCZ.DAL/obj
/NBCZ.DAL/bin
/NBCZ.DBUtility/bin
/NBCZ.DBUtility/obj
/NBCZ.Model/obj
/NBCZ.Model/bin
/.vs/NBCZ/v15/.suo
/obj
/.vs
/bin
/NBCZ.Api/log
/NBCZ.Api/lib
/NBCZ.DAL.Impl/bin
/NBCZ.DAL.Interface/bin
/NBCZ.BLL.Interface
/NBCZ.DAL.Impl
/NBCZ.DAL.Interface
/NBCZ.BLL.Impl
