/.vs/NBCZ/v15/Server/sqlite3/db.lock
/NBCZ.Api/bin
/NBCZ.Api/obj
/NBCZ.BLL/obj
/NBCZ.BLL/bin
/NBCZ.Common/bin
/NBCZ.Common/obj
/NBCZ.DAL/obj
/NBCZ.DAL/bin
/NBCZ.DBUtility/bin
/NBCZ.DBUtility/obj
/NBCZ.Model/obj
/NBCZ.Model/bin
/.vs/NBCZ/v15/.suo
/obj
/.vs
/bin
/NBCZ.Api/log
/NBCZ.BLL.Impl/obj
/NBCZ.BLL.Impl/bin
/NBCZ.BLL.Interface/obj
/NBCZ.BLL.Interface/bin
/NBCZ.DAL.Impl/obj
/NBCZ.DAL.Impl/bin
/NBCZ.DAL.Interface/obj
/NBCZ.DAL.Interface/bin
/*.suo
/NBCZ.BLL.Impl/bin/Release
/NBCZ.BLL.Impl/bin/Debug
